## MINI-PROYECT-PANDAS

In [6]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [25]:
df = pd.read_csv("attacks.csv",encoding = "ISO-8859-1")  #abro el domumento con la codificacion adecuada.

In [43]:
#informacion = df.info()

"""podemos resumir que este DataFrame tiene 24 columnas, 22 columnas son de tipo object y 2 de tipo float, que son 
la columna "Year" y la columna "original order"
"""

'podemos resumir que este DataFrame tiene 24 columnas, 22 columnas son de tipo object y 2 de tipo float, que son \nla columna "Year" y la columna "original order"\n'

In [51]:
#descripcion = df.describe()
#descripcion
#Aqui esta la descripcion de los datos numericos de Year y original order.

In [50]:
columnas = df.columns
#aqui almaceno los nombres de las columnas para luego trabajarlas.

count     6252
unique     212
top        USA
freq      2229
Name: Country, dtype: object